/* Aplica un fondo blanco y un borde redondeado al calendario */
@import "react-datepicker/dist/react-datepicker.css";

:root {
  --secondary_calendar: #ffffff53;
  --active: #f4df76;
}
.react-datepicker {
  background-color: transparent !important;
  width: 100%;
  font-family: "Helvetica-Regular", sans-serif !important;
  font-size: 1rem !important;
  color: var(--secondary) !important;
}

.react-datepicker__month-container {
  display: block;
  width: 100%;
}
h2.react-datepicker__current-month {
  padding: 0;
  margin: 0 !important;
  font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  justify-content: flex-start;
  text-transform: capitalize;
  color: inherit !important;
}

.react-datepicker__day,
.react-datepicker__day-name {
  display: inline-block !important;
  margin: 0 !important;
  padding: 0;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  border-radius: 0.3rem;
  background-color: transparent;
  color: inherit !important;
  padding: 0;
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
}

.react-datepicker__header {
  background-color: transparent !important;
  border-bottom: none !important;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  color: inherit !important
  ;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  background-color: transparent !important;
  color: inherit !important;
  font-weight: bold !important;
  position: relative;
  z-index: 1 !important;
}
.react-datepicker__week,
.react-datepicker__day-names {
  display: grid !important;
  grid-template-columns: repeat(7, 1fr) !important;
  grid-template-rows: 2rem !important;
  gap: 0.3rem !important;
  margin: 0 !important;
  padding: 0.4rem 0 !important;
  justify-items: center !important;
  place-items: center !important;
}
.react-datepicker__day--selected::before,
.react-datepicker__day--in-selecting-range::before,
.react-datepicker__day--in-range::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--active) !important;
  border-radius: 0%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.react-datepicker .react-datepicker__day--selected {
  color: var(--dark) !important;
  font-weight: bold !important;
}
.react-datepicker__day:hover {
  position: relative;
  background-color: transparent !important;
}

.react-datepicker__day:not(.react-datepicker__day--disabled):not(
    .react-datepicker__day--selected
  ):hover {
  background-color: transparent !important;
}

.react-datepicker__day:not(.react-datepicker__day--disabled):not(
    .react-datepicker__day--selected
  ):hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--active) !important;
  opacity: 0.1;
  border-radius: 0%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

/* Fechas deshabilitadas con opacidad */
.react-datepicker__day--disabled {
  opacity: 0.3 !important;
  cursor: not-allowed !important;
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
  background-color: transparent !important;
  color: inherit !important;
}

.react-datepicker__day-names {
  margin: 1rem 0 0 0 !important;
}

.react-datepicker__navigation {
  top: 1.4rem !important;
}
.react-datepicker__navigation-icon::before,
.react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view--down-arrow {
  border-color: var(--secondary) !important;
}
.react-datepicker__navigation--previous {
  top: 0.5rem !important;
  right: 2.5rem !important;
  left: auto !important;
}
.react-datepicker__navigation--next {
  top: 0.5rem !important;
}

.react-datepicker__month,
.react-datepicker__week {
  border-width: 1px 0 1px 1px;
  border-color: var(--secondary_calendar) !important;
  border-style: solid !important;
  margin: 0 !important;
  padding: 0 !important;
  gap: 0rem !important;
  grid-template-rows: min-content !important;
}
.react-datepicker__day {
  width: 100% !important;
  height: 3rem !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  border-right: 1px solid var(--secondary_calendar) !important;
}

.react-datepicker__day--outside-month {
  opacity: 0.3 !important;
}
